
.jumbotron {
    text-align: center;
    color: darkred;
    background-repeat: no-repeat;
    background: url("../images/sigil.jpg");
    background-size: contain;
    margin-right: 20px;
    margin-left: 20px;
}

#heading {
    font-weight: bold;
    font-size: 80px;
}

body {
    background-color: darkred;

}



.responses {
    margin: 20px;
}

div {
    color: white;
    background-color: grey;

}

.submit-div{
    background-color: white;
    color: white    ;
}

.footer {
    background-color: blanchedalmond;
    color: black;
	padding: 30px;
    text-align: right;
    float: center;
    margin-right: 20px;
    margin-left: 20px;
}

.twd-opt {
	margin-right: 20px;
}